<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>RockLog</title>

    	 <!-- Sencha Touch CSS -->
    	 <link rel="stylesheet" type="text/css"
    	    href="/static/sencha/resources/css/sencha-touch.css"/>

    	 <!-- Custom CSS -->
    	 <link rel="stylesheet" type="text/css" href="/static/css/styles.css"/>

    	 <!-- Sencha Touch JS -->
    	 <script type="text/javascript" src="/static/sencha/sencha-touch-debug.js"></script>
    	 
    	 <!-- Application JS -->
 	     <script type="text/javascript" src="/static/apps/routes.js"></script>    
    	 <script type="text/javascript" src="/static/apps/main.js"></script>
    	 
    	 <!-- Models -->
    	 <script type="text/javascript" src="/static/apps/models/climb.js"></script>    
    	 
    	 <!-- Stores -->	 
    	 <script type="text/javascript" src="/static/apps/stores/AllClimbs.js"></script>    
    	     	     	 
    	 <!-- Views -->
    	 <script type="text/javascript" src="/static/apps/views/viewport.js"></script>    	 
    	 <script type="text/javascript" src="/static/apps/views/welcome.js"></script>    
    	 <script type="text/javascript" src="/static/apps/views/climbsList.js"></script>        	 	     	 
    	 <script type="text/javascript" src="/static/apps/views/climbsNew.js"></script>        	 	     	     	 
         <script type="text/javascript" src="/static/apps/views/climbsView.js"></script>        	 	     	     	  
    	 
    	 <!-- controllers -->
         <script type="text/javascript" src="/static/apps/controllers/climbsController.js"></script>    	 
         <script type="text/javascript" src="/static/apps/controllers/welcomeController.js"></script>
             	 
    </head>
    <body>
        <p>Welcome to RockLog!</p>
    </body>
</html>